@font-face {
    font-family: 'SuisseIntl Regular';
    src: url('@/assets/fonts/SuisseIntl-Regular.woff2');
    font-weight: 400;
    font-style: normal;
}

$black-600: #101820;
$red-500: #E63E3A;


* {
    box-sizing: border-box;
}

body, a {
    text-decoration: none;
    font-family: 'SuisseIntl Regular';
}

.button {
    outline: none;
    cursor: pointer;
}